# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds
dist/
build/
.out/
.next/
.vite/
coverage/

# Env / système
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.venv/
.ipynb_checkpoints/

# Editor
.vscode/
.idea/
.codex

# dev assets
dev_assets/
